In [ ]:
#Schema
#add new entry
#update marks
#average marks

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 82.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=e97b61c052f81c285f39d1af4f0ce245032628822290033fbadcb2f427d977c4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark
sc = pyspark.SparkContext('local[*]') #run only once per python kernel

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

data = spark.sparkContext.parallelize([("Chirag","34",14,24,21),
    ("Harsh","35",15,23,25),
    ("Sakshi","37",13,21,22)
  ])

schema = ['Student_name','Roll_no','BDA','SF','ML']
 
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- Student_name: string (nullable = true)
 |-- Roll_no: string (nullable = true)
 |-- BDA: long (nullable = true)
 |-- SF: long (nullable = true)
 |-- ML: long (nullable = true)

+------------+-------+---+---+---+
|Student_name|Roll_no|BDA|SF |ML |
+------------+-------+---+---+---+
|Chirag      |34     |14 |24 |21 |
|Harsh       |35     |15 |23 |25 |
|Sakshi      |37     |13 |21 |22 |
+------------+-------+---+---+---+

In [21]:
from pyspark.sql.functions import col, avg
M1=df.select('BDA')
M1.show()
avg1=M1.agg(avg(col('BDA')))
avg1.show()

+---+
|BDA|
+---+
| 14|
| 15|
| 13|
+---+

+--------+
|avg(BDA)|
+--------+
|    14.0|
+--------+

In [22]:
M2=df.select('SF')
M2.show()
avg2=M2.agg(avg(col('SF')))
avg2.show()

+---+
| SF|
+---+
| 24|
| 23|
| 21|
+---+

+------------------+
|           avg(SF)|
+------------------+
|22.666666666666668|
+------------------+

In [23]:
M3=df.select('ML')
M3.show()
avg3=M3.agg(avg(col('ML')))
avg3.show()

+---+
| ML|
+---+
| 21|
| 25|
| 22|
+---+

+------------------+
|           avg(ML)|
+------------------+
|22.666666666666668|
+------------------+

In [27]:
df.show()
newRow = spark.createDataFrame([("Arjun","11",15,23,25)], schema)
appended = df.union(newRow)
appended.show()

+------------+-------+---+---+---+
|Student_name|Roll_no|BDA| SF| ML|
+------------+-------+---+---+---+
|      Chirag|     34| 14| 24| 21|
|       Harsh|     35| 15| 23| 25|
|      Sakshi|     37| 13| 21| 22|
+------------+-------+---+---+---+

+------------+-------+---+---+---+
|Student_name|Roll_no|BDA| SF| ML|
+------------+-------+---+---+---+
|      Chirag|     34| 14| 24| 21|
|       Harsh|     35| 15| 23| 25|
|      Sakshi|     37| 13| 21| 22|
|       Arjun|     11| 15| 23| 25|
+------------+-------+---+---+---+